.link {
  width: fit-content;
  padding: 7px 30px;
  background-color: transparent;
  border: #53b4cc 1px solid;
  color: #53b4cc;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
}

.link:hover {
  background-color: #53b4cc;
  color: rgb(0, 0, 0);
  transition: background-color 0.3s, color 0.3s;
}
